@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.section {
  padding-top: 15vh;
}

/*Nav bar styling*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #161616;
  position: fixed;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.svg-logo {
  width: 12rem;
  background-color: #fff;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
}

.nav-link {
  position: relative;
}

a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-top: 8px;
  background-color: gold;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

a.nav-link:hover:before {
  visibility: visible;
  margin-top: 8px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-item {
  list-style: none;
}

.site-logo {
  margin-left: 20px;
}

.menu-btn {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

@media screen and (max-width: 1100px) {
  .navbar {
    height: 10vh;
    width: 100vw;
    margin-top: 0px;
  }
  html {
    font-size: 9px;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-items {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    top: 10vh;
    left: 0;
    width: 0;
    background: #000;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-items li a {
    display: none;
  }
  .nav-items-active {
    width: 100vw;
  }
  .nav-items-active li a {
    display: block;
  }
  .nav-item {
    padding: 30px 20px;
  }
}

/*nav bar styling end*/
/*welcome area styling*/
.welcome-area {
  background-image: url("..//images/welcome-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.welcome-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-weight: 800px;
}

.welcome-word {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.8);
}

.welcome-name {
  font-size: 6rem;
}

.welcome-job {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.8);
}

.cv-btn {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid gold;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.cv-btn:hover {
  border: 2px solid #ff9306;
}

.welcome-text {
  padding: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 1100px) {
  .welcome-box {
    font-size: 1rem;
  }
  .welcome-text {
    padding-left: 0.3rem;
    width: 85vw;
  }
  .welcome-name {
    font-size: 3.5rem;
    margin: 15px auto;
  }
  .welcome-word {
    font-size: 2.5rem;
  }
  .welcome-job {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}

/*welcome area styling end*/
/*about section style*/
.about-section {
  height: 100vh;
  width: 100%;
  padding-left: 35px;
  background: url("..//images/triangle-mosaic.png");
}

.about-heading {
  margin-bottom: 40px;
  font-size: 3.5rem;
  color: #425066;
}

.dev-image {
  width: 50rem;
  margin-left: 30px;
  border-radius: 20px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-text-div {
  padding-left: 60px;
  color: #161616;
  width: 55rem;
}

.about-intro {
  font-size: 3rem;
}

.about-job {
  font-size: 2.8rem;
}

.about-info {
  font-size: 1.5rem;
  margin-top: 10px;
}

.about-phone,
.about-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.contact-mob,
.contact-email {
  margin-left: 20px;
  font-size: 1.8rem;
  color: #425066;
}

.contact-email a {
  color: #425066;
  text-decoration: none;
}

.contact-mob a {
  color: #425066;
  text-decoration: none;
}

.my-social-presence {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i-git,
.i-linked-in,
.i-twitter {
  color: #425066;
}

.i-linked-in,
.i-twitter {
  margin-left: 15px;
}

.about-head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i-git {
  color: #333;
}

.i-linked-in {
  color: #0e76a8;
}

.i-twitter {
  color: #1da1f2;
}

@media screen and (max-width: 1100px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section {
    height: auto;
  }
  .about-head-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dev-image {
    width: 45vw;
  }
  .section {
    padding: 15vh 6px;
    margin-left: 0px;
  }
  .dev-image {
    margin: 0;
  }
  .about-text-div {
    width: 95vw;
    margin-top: 20px;
    padding-left: 5vw;
  }
  .navbar {
    background: #161616;
  }
}

@media screen and (max-width: 800px) {
  .dev-image {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .dev-image {
    width: 85vw;
  }
}

/*about section styling end*/
/*project section styling*/
.project-section {
  width: 100%;
  border-top: 5px solid rgba(66, 80, 102, 0.2);
  border-bottom: 5px solid rgba(66, 80, 102, 0.2);
}

.project-head {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-heading {
  font-size: 3rem;
  color: #425066;
}

.project-grid-conatiner {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-grid {
  width: 35rem;
  height: 39rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.project-grid img {
  width: 35rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-info {
  padding: 15px;
  background: rgba(231, 226, 226, 0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.project-info h3 {
  font-size: 2rem;
}

.project-info p {
  font-size: 1.6rem;
  margin: 10px auto;
}

.project-git,
.project-web {
  color: #425066;
}

.project-web {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .project-grid-conatiner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-grid {
    margin-left: 0px;
  }
  .project-section {
    padding-top: 75px;
  }
}

/*project section styling end*/
/*Contact section styling*/
.contact-section {
  width: 100%;
}

.contact-head {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-heading {
  font-size: 3rem;
  color: #425066;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
}

.contact-box .about-email {
  margin-bottom: 15px;
}

@media only screen and (max-width: 960px) {
  .contact-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Contact form style*/
input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}

::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
}

.container {
  padding: 0 50px 70px;
}

.textcenter {
  text-align: center;
}

.seperator {
  border-bottom: 1px solid #a2a2a2;
  width: 35px;
  display: inline-block;
  margin: 20px;
}

.section2 {
  width: 1200px;
  margin: 25px auto;
}

.col2 {
  width: 48.71%;
}

.col2.first {
  float: left;
}

.col2.last {
  float: right;
}

.col2.column2 {
  padding: 0 30px;
}

span.collig {
  color: #a2a2a2;
  margin-right: 10px;
  display: inline-block;
}

.sec2addr {
  display: block;
  line-height: 26px;
}

.sec2addr p:first-child {
  margin-bottom: 10px;
}

.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea {
  padding: 18px;
  border: 0;
  background: #ededed;
  margin: 7px 0;
}

.contact-box textarea {
  width: 100%;
  margin-top: 5px;
  display: block;
  color: #666;
  resize: none;
}

#contact-textarea {
  margin-top: 10px;
}

.contact-box input[type="submit"] {
  padding: 15px 40px;
  color: #fff;
  border: 0;
  background: #05cc51;
  font-size: 16px;
  text-transform: uppercase;
  margin: 7px 0;
  cursor: pointer;
}

/* @media querries */
@media only screen and (max-width: 1266px) {
  .section2 {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .g-map {
    width: 90vw;
  }
  .container {
    padding: 0 30px 70px;
  }
  .col2 {
    width: 100%;
    display: block;
  }
  .col2.first {
    margin-bottom: 10px;
  }
  .col2.column2 {
    padding: 0;
  }
  .sec2map {
    height: 250px !important;
  }
}

@media only screen and (max-width: 768px) {
  .contact-box h3 {
    font-size: 16px;
  }
  .contact-box input[type="text"],
  .section2 .sec2contactform input[type="email"],
  .section2 .sec2contactform textarea {
    padding: 10px;
    margin: 3px 0;
  }
  .contact-box input[type="submit"] {
    padding: 10px 30px;
    font-size: 14px;
  }
  form {
    width: 90vw;
  }
}

/*contact form style end*/
/* footer style */
.footer {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background: #161616;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer h3 {
  font-size: 1.3rem;
  padding: 7px;
}

.footer-social-presence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .i-git {
  color: #fff;
}

/* footer style end */
/*# sourceMappingURL=style.css.map */