@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
$navbar-text-color: #fff;
$navbar-text-underline-color: gold;
$welcome-area-bg-image-overlay-color: rgba(0, 0, 0, 0.6);
$cv-btn-hover-color: rgb(255, 147, 6);
$about-section-background-color: rgb(177, 177, 177);
$heading-text-color-about: #425066;
$text-color-about: #161616;
$mob-welcome-text-faded-color: rgba(255, 255, 255, 0.8);
$contact-button-color: rgb(5, 204, 81);
$project-image-overlay-color: rgba(255, 255, 255, 0.7);
$section-border-color: rgba(66, 80, 102, 0.2);
$footer-ruler-color: rgba(197, 203, 211, 0.5);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
.section {
  padding-top: 15vh;
}
@mixin flex-align($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
/*Nav bar styling*/
.navbar {
  @include flex-align(space-between, center);
  height: 10vh;
  background-color: $text-color-about;
  position: fixed;
  width: 100%;
}
.navbar a {
  text-decoration: none;
  color: $navbar-text-color;
  font-size: 2.2rem;
}
.svg-logo {
  width: 12rem;
  background-color: $navbar-text-color;
}
.nav-items {
  @include flex-align(space-evenly, center);
  width: 55vw;
}
.nav-link {
  position: relative;
}
a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-top: 8px;
  background-color: $navbar-text-underline-color;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.6s ease-in-out;
}
a.nav-link:hover:before {
  visibility: visible;
  margin-top: 8px;
  transform: scaleX(1);
}

.nav-item {
  list-style: none;
}
.site-logo {
  margin-left: 20px;
}

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-12px);
}
.menu-btn__burger::after {
  transform: translateY(12px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
@media screen and (max-width: 1100px) {
  .navbar {
    height: 7.5vh;
    width: 100vw;
    margin-top: 0px;
  }
  html {
    font-size: 9px;
  }
  .menu-btn {
    display: flex;
  }
  .nav-items {
    position: fixed;
    @include flex-align(center, center);
    flex-direction: column;
    height: 100vh;
    top: 7.5vh;
    left: 0;
    width: 0;
    background: #000;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    li a {
      display: none;
    }
  }
  .nav-items-active {
    width: 100vw;
    li a {
      display: block;
    }
  }
  .nav-item {
    padding: 30px 20px;
  }
}
/*nav bar styling end*/
/*welcome area styling*/
.welcome-area {
  background-image: url("..//images/welcome-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.welcome-box {
  @include flex-align(center, center);
  height: 100vh;
  width: 100%;
  color: $navbar-text-color;
  background: $welcome-area-bg-image-overlay-color;
  font-weight: 800px;
}
.welcome-word {
  font-size: 3rem;
  color: $mob-welcome-text-faded-color;
}
.welcome-name {
  font-size: 6rem;
}
.welcome-job {
  font-size: 4rem;
  color: $mob-welcome-text-faded-color;
}
.cv-btn {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid $navbar-text-underline-color;
  color: $navbar-text-color;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  transition-duration: 0.7s;
}
.cv-btn:hover {
  border: 2px solid $cv-btn-hover-color;
}
.welcome-text {
  padding: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 1100px) {
  .welcome-box {
    font-size: 1rem;
  }
  .welcome-text {
    padding-left: 0.3rem;
    width: 85vw;
  }
  .welcome-name {
    font-size: 3.5rem;
    margin: 15px auto;
  }
  .welcome-word {
    font-size: 2.5rem;
  }
  .welcome-job {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}
/*welcome area styling end*/
/*about section style*/
.about-section {
  min-height: 100vh;
  width: 100%;
  padding-left: 4.8vw;
  background: url("..//images/triangle-mosaic.png");
}
.about-heading {
  margin-bottom: 40px;
  font-size: 3.5rem;
  color: $heading-text-color-about;
}
.dev-image {
  width: 50rem;
  margin-left: 30px;
  border-radius: 20px;
}
.about-content {
  @include flex-align(flex-start, center);
}
.about-text-div {
  padding-left: 60px;
  color: $text-color-about;
  width: 55rem;
}
.about-intro {
  font-size: 3rem;
}
.about-job {
  font-size: 2.8rem;
}
.about-info {
  font-size: 1.5rem;
  margin-top: 10px;
}
.about-phone,
.about-email {
  @include flex-align(flex-start, center);
  margin-top: 10px;
}
.contact-mob,
.contact-email {
  margin-left: 20px;
  font-size: 1.8rem;
  color: $heading-text-color-about;
}
.contact-email a {
  color: $heading-text-color-about;
  text-decoration: none;
}
.contact-mob a {
  color: $heading-text-color-about;
  text-decoration: none;
}
.my-social-presence {
  margin-top: 12px;
  @include flex-align(flex-start, center);
}
.i-git,
.i-linked-in,
.i-twitter {
  color: $heading-text-color-about;
}
.i-linked-in,
.i-twitter {
  margin-left: 15px;
}
.about-head-box {
  @include flex-align(flex-start, center);
}
.i-git {
  color: #333;
}
.i-linked-in {
  color: #0e76a8;
}
.i-twitter {
  color: #1da1f2;
}
@media screen and (max-width: 1100px) {
  .about-content {
    flex-direction: column;
  }
  .about-section {
    height: auto;
  }
  .about-head-box {
    @include flex-align(flex-start, center);
  }
  .dev-image {
    width: 45vw;
  }
  .section {
    padding: 15vh 6px;
    margin-left: 0px;
  }
  .dev-image {
    margin: 0;
  }
  .about-text-div {
    width: 95vw;
    margin-top: 20px;
    padding-left: 5vw;
  }
  .navbar {
    background: $text-color-about;
  }
}
@media screen and (max-width: 800px) {
  .section {
    padding-top: 9vh;
  }
  .dev-image {
    width: 60vw;
  }
}
@media screen and (max-width: 600px) {
  .dev-image {
    width: 85vw;
  }
}
/*about section styling end*/
/*project section styling*/
.project-section {
  width: 100%;
  border-top: 5px solid $section-border-color;
  border-bottom: 5px solid $section-border-color;
}
.project-head {
  width: 100%;
  height: 8vh;
  @include flex-align(center, center);
}
.project-heading {
  font-size: 3rem;
  color: $heading-text-color-about;
}
.project-grid-conatiner {
  padding: 35px;
  @include flex-align(space-evenly, center);
  flex-wrap: wrap;
}
.project-grid {
  width: 35rem;
  height: 39rem;
  @include flex-align(flex-start, left);
  flex-direction: column;
  margin-bottom: 30px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}
.project-grid img {
  width: 35rem;
  height: 25rem;
  object-fit: cover;
}
.project-links {
  @include flex-align(flex-start, center);
}
.project-info {
  padding: 15px;
  background: $project-image-overlay-color;
}
.project-info h3 {
  font-size: 2rem;
}
.project-info p {
  font-size: 1.6rem;
  margin: 10px auto;
}
.project-git,
.project-web {
  color: $heading-text-color-about;
}
.project-web {
  margin-left: 10px;
}
@media screen and (max-width: 800px) {
  .project-grid-conatiner {
    justify-content: center;
  }
  .project-grid {
    margin-left: 0px;
  }
  .project-section {
    padding-top: 7vh;
  }
}
/*project section styling end*/
/*Contact section styling*/

.contact-section {
  width: 100%;
}
.contact-head {
  width: 100%;
  height: 8vh;
  @include flex-align(center, center);
}
.contact-heading {
  font-size: 3rem;
  color: $heading-text-color-about;
}
.contact-box {
  @include flex-align(space-evenly, flex-start);
  margin-top: 15px;
  margin-bottom: 40px;
}
.contact-box .about-email {
  margin-bottom: 15px;
}
@media only screen and (max-width: 960px) {
  .contact-box {
    flex-direction: column;
  }
  .contact-box {
    @include flex-align(center, center);
  }
}
/*Contact form style*/
input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}
::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
}
.container {
  padding: 0 50px 70px;
}
.textcenter {
  text-align: center;
}

.seperator {
  border-bottom: 1px solid #a2a2a2;
  width: 35px;
  display: inline-block;
  margin: 20px;
}

.section2 {
  width: 1200px;
  margin: 25px auto;
}
.col2 {
  width: 48.71%;
}
.col2.first {
  float: left;
}
.col2.last {
  float: right;
}
.col2.column2 {
  padding: 0 30px;
}
span.collig {
  color: #a2a2a2;
  margin-right: 10px;
  display: inline-block;
}
.sec2addr {
  display: block;
  line-height: 26px;
}
.sec2addr p:first-child {
  margin-bottom: 10px;
}
.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea {
  padding: 18px;
  border: 0;
  background: #ededed;
  margin: 10px 0;
}
.contact-box textarea {
  width: 100%;
  display: block;
  color: #666;
  resize: none;
}
#contact-textarea {
  margin-top: 20px;
}
.contact-box input[type="submit"] {
  padding: 15px 40px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background: $contact-button-color;
  font-size: 16px;
  text-transform: uppercase;
  margin: 7px 0;
  cursor: pointer;
  box-shadow: 1.5px 2px 2px 2px $footer-ruler-color;
}


@media only screen and (max-width: 1266px) {
  .contact-section{
    padding-top: 7vh;
  }
  .section2 {
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  
  .contact-form-mob{
    margin-bottom: 10px;
  }
  .g-map {
    width: 90vw;
  }
  .container {
    padding: 0 30px 70px;
  }
  .col2 {
    width: 100%;
    display: block;
  }
  .col2.first {
    margin-bottom: 10px;
  }
  .col2.column2 {
    padding: 0;
  }
  .sec2map {
    height: 250px !important;
  }
}
@media only screen and (max-width: 768px) {
  .contact-box h3 {
    font-size: 16px;
  }
  .contact-box input[type="text"],
  .contact-box input[type="email"]
   {
    padding: 10px;
    margin: 10px 0;
  }
  #contact-textarea{
    margin-top: 20px;
  }
  .contact-box input[type="submit"] {
    padding: 10px 30px;
    font-size: 14px;
  }
  form {
    width: 90vw;
  }
}

/*contact form style end*/
/* footer style */
.footer {
  width: 100%;
  padding: 20px 20px;
  background: $text-color-about;
  color: $navbar-text-color;
  @include flex-align(space-evenly, center);
  flex-direction: column;
}
.footer h3 {
  font-size: 1.8rem;
  padding: 7px;
}
.footer-social-presence {
  @include flex-align(center, center);
}
.footer .i-git {
  color: $navbar-text-color;
}
.footer-ruler{
  width: 100%;
  height: 2px;
  background: $footer-ruler-color;
  border-radius: 20px;
  margin: 8px auto;

}
.up-link{
  color:$navbar-text-color;
  margin-bottom: 10px;
}
.up-link:hover{
  color: $navbar-text-underline-color;
}

/* footer style end */
/* preloader style */
#loader-wrapper {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}
#loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:3px solid transparent;
  border-top-color: orange;
  border-radius:100%;
  -webkit-animation: spin 2.5s linear infinite;
          animation: spin 2.5s linear infinite;
  z-index:1001;
}
#loader:before {
  content:"";
  position: absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  border:3px solid transparent;
  border-top-color: white;
  border-radius:100%;
  -webkit-animation: spin 3.7s linear infinite;
          animation: spin 3.7s linear infinite;
}
#loader:after {
  content:"";
  position: absolute;
  top:12px;
  left:12px;
  right:12px;
  bottom:12px;
  border:3px solid transparent;
  border-top-color:green;
  border-radius:100%;
  -webkit-animation: spin 3.4s linear infinite;
          animation: spin 3.4s linear infinite;
}
@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:rgb(205, 211, 216);
  width:51%;
  height:100%;
  z-index:1000;
}

#loader-wrapper .loader-section.section-left {
  left:0
}
#loader-wrapper .loader-section.section-right {
  right:0;
}

/* Loaded Styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
/* preloader style end */
